.note-container
{
    width : 100%;
    display: flex;
    justify-content: space-around;
}
.note{
  text-align: center;
    text-align: center;
    height: 100px;
    width : 90%;
    background: #cc2828;
    color: white;
    font-weight: lighter;
    border-radius: 10px 10px 10px 10px;
}