<link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/assets/css/bootstrap.min.css"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/javascripts/explanationScreen.js"></script>
<link href="/stylesheets/explanationScreen.css" rel="stylesheet">

<div class="container register-form">
    <div class="form">
        <div class="note">
            <h4>infos sessions:</h4>
            <div id="EmailInfo"></div>
            <div id="PasswordInfo"></div>
        </div>

    </div>
    <div class="jumbotron">
        <h2 class="display-3">Qu'est ce que vous allez devoir faire !!</h2>
        <p class="lead">Vous allez devoir repondre a un QCM avec choix multiples, etc....</p>
        <input type="submit" id="startQcm" class="fadeIn fourth" value="Commencer !!">
    </div>
</div>

