<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/qcm.css"/>
</head>
<body>
<div></div>
<div class="modal-dialog">
    <div id="finish" class="inner">
        <img src="/images/logoCF.jpg" id="icon" alt="User Icon" />
        <div class="text-center">
            <h1><%=text%></h1>
            <p>Maintenant vous pouvez quitter votre ordinateur ,<br/> je vous souhaite une bonne continuation pour la suite ;)</p>
        </div>
    </div>
</div>
</body>
</html>