<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/qcm.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Finish</title>
</head>

<body>
    <div class="fadeIn">
        <img src="images/logoCF.jpg" id="icon" alt="User Icon" />
    </div>
    <div class="modal-dialog">
        <div id="formContent">
            <div id="finish" class="inner">
                <h3><%=text%></h3>
                <div id="formFooter">
                    <p>Vous pouvez maintenant quitter votre ordinateur, je vous souhaite une bonne continuation pour la
                        suite ;)</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>