<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
</head>
<body>
<div class="fadeIn">
    <img src="/images/logoCF.jpg" id="icon" alt="User Icon" />
</div>
<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->

        <!-- Login Form -->
        <form id="loginForm">
            <input type="email" id="email"class="fadeIn first" name="email" placeholder="login">
            <input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
            <input type="submit" class="fadeIn third" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="fadeIn fourth underlineHover" href="/register">S'inscrire</a>
        </div>

    </div>
</div>
</body>
</html>