<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/javascripts/qcm.js"></script>
    <link rel="stylesheet" href="/stylesheets/qcm.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <title>QCM</title>
</head>
<body>

<!--<nav aria-label="Page navigation example">-->
    <ul id="categoriePagination" class="pagination justify-content-center">
    </ul>
<!--</nav>-->
<!--<nav aria-label="Page navigation example">-->
    <ul id="questionPagination" class="pagination justify-content-center">
    </ul>
<!--</nav>-->

<div class="modal-dialog">
    <div id="formContent" class="" id="questionnaire">
        <p id="timer"></p>
        <div class="modal-header">
            <h3><span class="label label-warning" id="qid">2</span> THREE is CORRECT</h3>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5 loadbar-container">
                <div id="loadbar" style="display: none;">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
            </div>
            <div class="quiz" id="quiz" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-light btn-block"><span class="btn-label"><i
                                class="glyphicon glyphicon-chevron-right"></i></span> <input type="checkbox"
                                                                                             class="hidden"
                                                                                             name="q_answer"
                                                                                             value="1"><span
                            id="textLabel">1 One</span></label>
                <label class="element-animation2 btn btn-lg btn-light btn-block"><span class="btn-label"><i
                                class="glyphicon glyphicon-chevron-right"></i></span> <input type="checkbox"
                                                                                             class="hidden"
                                                                                             name="q_answer"
                                                                                             value="2"><span
                            id="textLabel">2 Two</span></label>
                <label class="element-animation3 btn btn-lg btn-light btn-block"><span class="btn-label"><i
                                class="glyphicon glyphicon-chevron-right"></i></span> <input type="checkbox"
                                                                                             class="hidden"
                                                                                             name="q_answer"
                                                                                             value="3"><span
                            id="textLabel">3 Three</span></label>
                <label class="element-animation4 btn btn-lg btn-light btn-block"><span class="btn-label"><i
                                class="glyphicon glyphicon-chevron-right"></i></span> <input type="checkbox"
                                                                                             class="hidden"
                                                                                             name="q_answer"
                                                                                             value="4"><span
                            id="textLabel">4 Four</span></label>
                <button id="SubmitBtn" type="" class="element-animation5 btn btn-primary btn-lg form-button">Valider</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>