<link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/assets/css/bootstrap.min.css"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/javascripts/registerForm.js"></script>
<link href="/stylesheets/registerForm.css" rel="stylesheet">



<!------ Include the above in your HEAD tag ---------->

<title>Resgister</title>
<div class="container" style="margin-top: 1em;">
    <!-- Sign up form -->
    <form id="registerForm">
        <!-- Sign up card -->
        <div class="card">
            <div class="card-body">
                <h2 id="who_message" class="card-title">Vos Informations</h2>
                <!-- First row (on medium screen) -->
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Prenom</label>
                        <input id="first_name" type="text" class="form-control" placeholder="Prenom">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Nom</label>
                        <input id="last_name" type="text" class="form-control" placeholder="Nom de famille">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Date de Naissance</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email_confirm" class="col-form-label">Confirmation d'email</label>
                        <input type="email_confirm" class="form-control" id="email_confirm"
                               placeholder="example@gmail.com" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Formation souhaitee</label>
                        <select id="formationNameSelect" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Cycle</label>
                        <select id="formationTypesSelect" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Sites</label>
                        <select id="formationCitiesSelect" class="form-control">
                        </select>
                    </div>
                </div>

                <h2 class="card-title">Langages maitrisés</h2>

                <div class="form-group ">
                    <div id="langContainer" class="field-boxes quarter">
                    </div>
                </div>
                <div class="custom-btn-group">
                    <button id="valider" type="submit" class="btn custom-btn btn-primary btn-lg">Valider</button>
                </div>

            </div>
        </div>
</div>
</form>
</div>